body {
    font-family: 'Inter', sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.tab-button.active {
    border-color: #f59e0b;
    background-color: #f59e0b;
    color: white;
}
